.intervalfour{
    background-color: #000;
    opacity:0.999;
    width:1263px;
    height:5px;
    margin-top:62px;
}

.Finalbox{
    opacity:0.99;
    height:1500px;
    background-color: #FFF;
    width:1263px;
}
.Teampng{
    opacity:0.99;
    margin-top:-1500px;
    margin-left:510px;
}
.Teampara{
    opacity:0.99;
    font-size:30px;
    color:black;
    margin-left:585px;
    font-weight:bolder;
    font-family:royalimport;
}
/* .roundedimg{
    opacity:0.99;
    width:200px;
    margin-left:200px;
    margin-top:50px;
    
}
.roundedimg img{
    opacity:0.99;
    border-radius:50%;
}

.roundig{
    opacity:0.99;
    width:200px;
    margin-left:490px;
    margin-top:-280px;

    
}
.roundig img{
    opacity:0.99;
    border-radius:50%;
}

.roundg{
    opacity:0.99;
    width:200px;
    margin-left:790px;
    margin-top:-280px
}
.roundg img{
    opacity:0.99;
    border-radius:50%;
}
.roundpara{
    opacity:0.99;
    font-size:20px;
    color:black;
    margin-left:250px;
    margin-top:50px;
    font-weight:bolder;
    font-family:royalimport;
}

.roundepara{
    opacity:0.99;
    font-size:20px;
    color:black;
    margin-left:530px;
    margin-top:-40px;
    font-weight:bolder;
    font-family:royalimport;
}		
.roundedara{
                    
    opacity:0.99;
    font-size:20px;
    color:black;
    margin-left:870px;
    margin-top:-47px;
    font-weight:bolder;
    font-family:royalimport;
    
}
.Lastpara{
    opacity:0.99;
    font-size:20px;
    margin-top:60px;
    font-family:Royalimport;
}


.Lastpara h6{
    margin-left:-5px;
    font-size:60px;
    font-family:Amperzandimport;
}

.intervalfive{
    opacity:0.99;
    width:1263px;
    height:3px;
    background-color: #CCC;
    margin-top:20px;
}

.contactpng{
    opacity:0.99;
    margin-left:590px;
    margin-top:30px;
}




.contact{
    opacity:0.99;
    font-size:30px;
    color:black;
    margin-left:510px;
    margin-top:20px;
    font-family:royalimport;
    
}

input[type=bell]
{
						width:420px;
						padding: 12px 20px;
						box-sizing:border-box;
						opacity:0.8;
						margin-left:410px;
						margin-top:20px;
						background-color: #9CC;
						<!-- last form -->
}			



input[type=be]
{
						width:420px;
						padding: 12px 20px;
						box-sizing:border-box;
						opacity:0.8;
						margin-left:410px;
						margin-top:20px;
						background-color: #9CC;
						<!--  last form -->
}				
input[type=b]
{
						width:420px;
						padding: 50px 20px;
						box-sizing:border-box;
						opacity:0.8;
						margin-left:410px;
						margin-top:20px;
						background-color: #9CC;
						<!-- last form -->

}					
.btnone{
						opacity:0.99;
						padding:7.5px 22px;
						margin-top:43px;
						margin-left:550px;
						font-family:SolveigDisplayimport;
						font-size:20px;
						font-weight:bolder;
						cursor:pointer;
						transition:.6s;
						<!-- button lastt page -->
						
						
}
.btnone:hover{
						background-color:#333;
						color:white;
						<!-- button hover lastt page -->
}	
						
						
.end{
						opacity:0.99;
						font-size:13px;		
						font-weight:bolder;		
						margin-left:490px;
						margin-top:30px;
						
						
						
						
}	 